HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### Local Configuration ###
application-local.properties
application-local.yml

### OS specific ###
.DS_Store
Thumbs.db
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
Jenkinsfile
.gradle/8.8/checksums/checksums.lock
BaseJenkinsfile
